.upt-gallery {
}

.upt-gallery .upt-gallery__item {
  display: inline-block;
  overflow: hidden;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.upt-gallery__item img {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}

.upt-gallery__item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.upt-gallery__item:hover {
  /*-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);*/
  /*box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);*/
}

.upt-gallery__tail {
  display: none;
}

.load-more-btn-wrapper {
  text-align: center;
  margin: 20px; 
}
