.carousel-img {
	height: 350px !important;
	margin: auto;
	border-radius: 3px;
}

.upt-carousel {
	padding: 20px 0;
	margin-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #e7e7e7;
}

.upt-carousel-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -2;
	opacity: 1;
	transition: opacity .4s ease-in-out;
}

.upt-carousel:hover .upt-carousel-bg {
	opacity: 1;
}

.upt-carousel-bg .blue, .upt-carousel-bg .yellow, .upt-carousel-bg .red {
	height: 390px;
}

.upt-carousel-bg .blue{
	background: rgba(0, 0, 255, 0.13);
}

.upt-carousel-bg .yellow {
	background: rgba(255, 255, 0, 0.22);
} 

.upt-carousel-bg .red {
	background: rgba(255, 0, 0, 0.06);
}
