.upt-navbar {
	height: 72px;
    margin-bottom: 0;
    border: none !important;
}

.upt-navbar-toggle {
	margin: 0;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.upt-navbar-header {
	height: 70px;
}

.upt-navbar .upt-navbar-container {
	height: 72px;
	border-bottom: 2px solid orange;
}

.brand-logo-wrapper {
	margin-left: 10px;
	padding: 15px 0;
    position: relative;
    display: table;
}

.brand-logo-wrapper .upt-anniversary-info {
	text-align: center;
}

.brand-logo-wrapper .logo-link, .brand-logo-wrapper .upt-anniversary-info {
	display: table-cell;
	vertical-align: bottom;
}

.brand-logo-wrapper .logo {
	width: 70px;
	padding-right: 17px;
}

.upt-anniversary-icon {
	color: #f48631;
	font-size: 16px;
}

.years {
	color: #545050;
	text-align: center;
	font-weight: 600;	
    margin: 0;
    font-size: 1.5rem;
}

.brand-logo-wrapper .logo-link {
	padding: 0;
	height: auto !important;
}	

.navbar-link {
	font-family: Roboto, sans-serif;
	line-height: 70px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	cursor: pointer;
}

.navbar-link:hover {
	background: rgba(215, 215, 215, 0.65) !important
}

@media(max-width:767px) { 
	.navbar-link {
		border-bottom: 1px solid rgba(167, 160, 157, 0.35);
		padding: 0 20px !important;
		font-weight: 900;
		line-height: 45px !important;
	}
	#links-list li:last-child .navbar-link {
		border-bottom: none;
	}
	.brand-logo-wrapper {
		margin-left: 7px !important;
	}
	#upt-navbar-collapse-9 {
		position: relative;
		z-index: 999;
		padding: 0;
	}
	#links-list {
		background: white;
		margin: 2px 0 0;
	}
}

