html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: Roboto, sans-serif;
}

#upt-page-container {
	min-height: 100%;
	position: relative;
}

#upt-content {
	padding-bottom: 250px;
}

#upt-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background: #222f38;
}	

@media(max-width: 999px) { 
	#upt-footer {
		height: 500px;
	}
	#upt-content {
	padding-bottom: 500px;
	}

}


